#error-wrapper, #error-wrapper > div {
    height: 100%;
    margin: auto;
}

#error-wrapper > div > div {
    min-width: 550px;
    max-width: 60%;
}

#error-wrapper .error-stack {
    border-radius: 4px;
    padding: 16px;
    font-family: Fira Mono, JetBrains Mono, Monaco, Courier, monospace;
    background-color: rgba(0, 0, 0, 0.075);
}
