html, body, #root {
    width: 100%;
    height: 100%;
}

#map-wrapper, #error-wrapper {
    display: table-row;
    width: 100%;
    height: 100%;
}

#map-header {
    padding: 12px 8px;
}

#root {
    display: table;
    background: var(--themed-background) !important;
    color: var(--themed-foreground);
}

/*// TODO: это тоже уноси, нехуй этому здесь делать*/
body {
    border-color: var(--themed-background) !important;
    background-color: var(--themed-background) !important;
}

a, a:visited {
    color: var(--themed-link) !important;
}

body {
    background-color: var(--themed-background) !important;
}

#menu {
    padding: 0 16pt;
}

#menu .profile {
    white-space: nowrap;
}

#menu .icon {
    stroke-width: 1.5;
}

/* for tabler icons */
.icon {
    vertical-align: middle;
}
