.cardText {
    line-height: 1.1;
    white-space: pre-wrap;
}

.cardInfo {
    line-height: 1.2 !important;
}

.cardSlides, .cardPhoto {
    margin: 8px auto;
    width: 380px;
    height: 255px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.2);
    background-position: center;
    background-repeat: no-repeat;
}

/* overriding Splide styles */
.cardPhoto, .cardSlides .splide__slide {
    border-radius: 4px;
    background-size: contain !important;
}

/* overriding Leaflet styles */
.leaflet-popup-close-button {
    display: none;
}

.leaflet-popup-content {
    margin: 10px;
    line-height: 1.2;
}

.leaflet-popup-content p {
    margin: auto !important;
}

.leaflet-tooltip,
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
    opacity: 1 !important;
    padding: 2px 6px 6px 6px;
    border: none;
    /*background: #2c2e33;*/
    /*color: rgb(193, 194, 197);*/
}

.leaflet-tooltip-left::before {
    /*border-left-color: #2c2e33 !important;*/
}

.leaflet-tooltip-top::before {
    /*border-top-color: #2c2e33 !important;*/
}

.leaflet-tooltip-right::before {
    /*border-right-color: #2c2e33 !important;*/
}

.leaflet-tooltip-bottom::before {
    /*border-bottom-color: #2c2e33 !important;*/
}

.leaflet-popup-content {
    width: 380px !important;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
    background: var(--themed-background) !important;
    color: var(--themed-foreground) !important;
}

.leaflet-tooltip {
    background: var(--themed-background) !important;
    color: var(--themed-foreground) !important;
}

.leaflet-tooltip-top:before {
    border-top-color: var(--themed-background) !important;
}

.leaflet-tooltip-left:before {
    border-left-color: var(--themed-background) !important;
}

.leaflet-tooltip-bottom:before {
    border-bottom-color: var(--themed-background) !important;
}

.leaflet-tooltip-right:before {
    border-right-color: var(--themed-background) !important;
}
