/* Leaflet attribution will be displayed in a different way */
.leaflet-control-attribution {
    display: none;
}

.leaflet-container {
    height: 100%;
    padding: 16px 24px;
}

/* cursed fix of visible grid between tiles on retina displays */
.leaflet-pane.leaflet-tile-pane img {
    width: 256.5px !important;
    height: 256.5px !important;
}

/* overriding the map panes z-indexes */

.leaflet-pane.leaflet-popup-pane {
    z-index: 180 !important;
}

.leaflet-override {
    position: relative;
    z-index: 100;
}

.leaflet-pane.leaflet-tile-pane {
    z-index: 2;
}

.leaflet-pane.leaflet-map-pane {
    z-index: 4;
}

.leaflet-pane.leaflet-shadow-pane {
    z-index: 5;
}

.leaflet-pane.leaflet-overlay-pane {
    z-index: 5;
}

.leaflet-pane.leaflet-marker-pane {
    z-index: 6;
}

.leaflet-pane.leaflet-tooltip-pane {
    z-index: 7;
}
