#legendSelect {
    text-overflow: ellipsis;
}

.legendEntity {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.legendText {
    max-width: 280px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.legendBox {
    width: 16px;
    height: 16px;
    margin-top: 0;
    margin-right: 2px;
    border-radius: 3px;
    /*border-radius: 16px;*/
    vertical-align: middle;
}
